body{
    margin: 0;
    padding: 0;
}

header{
    background: #f55a5a;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    color: white;
}

header > img{
    width: 24px;
    margin-right: 7px;
}

header > h1{
    font-size: 1.2rem;
    font-weight: 500;
    font-family: inter;
}

.journal-entry{
    display: flex;
    margin: 10px;
}


.main-image-container{
    width: 125px;
    height: 168px;
    overflow: hidden;
    border-radius: 5px;
    flex-shrink: 0;
    margin-right: 19px;
}


.main-image{
    width: 100%;
    height: 100%;
    object-fit: cover;

}


/* div with the class destination container */
.destination{
   display: flex;
   align-items: center;
}

a, span{
    font-size: 1.2rem;
    margin: 4px;
}

.trip-dates{
    font-size: 1.2rem;
}